<project name="Test" default="build" basedir=".">
	<property name="output" location="${basedir}/buildOutput/"/>
	<target name="phpcs">
		<exec executable="phpcs"> 
			<arg line="--report=checkstyle
              			--report-file=${output}/phpcs/checkstyle.xml
              			--standard=Zend
              			${basedir}" />
		</exec>
	</target>
</project>
